i {
    color: #c9c9c9;
}

i.btnON {
    color: #56e856;
}

i.btnOFF {
    color: #87bdb8;
}

i.btnActive {
    color: #b7cab7;
}

i.btnInactive {
    color: #868888;
}

i.btn-white {
    color: #FFF;
}

i.btn-blue {
    color: #77F;
}

i.btn-red {
    color: #F77;
}

i.btn-green {
    color: #7F7;
}

.circle-border {
    border: 2px solid #c9c9c9;
    border-radius: 15px;
    padding: 0px 5px;
}