.overlay-layer .obj-settings {
    font-size: 25px;
    color: #AAA;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 2.5%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    max-width: 350px;
    pointer-events: visiblefill;
}

.obj-settings .container {
    width: 100%;
    max-width: 100%;
}

.obj-settings .dropdown {
    margin-left: 10px;
    color: #FFF;
}

.obj-settings .dropdown button {
    background-color: #337ab7;
}

.obj-settings .control-item-select {
    display: inline-block;
}

.overlay-layer .control-items-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    margin: 100px 2.5%;
    height: calc(100% - 200px);
    color: #AAA;
    z-index: 9;
    overflow: hidden;
}

.control-items-container .control-items-wrapper {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    max-width: 350px;
    pointer-events: visiblefill;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: top;
}

.control-items-wrapper .control-header {
    padding-bottom: 15px;
    font-size: 22px;
    min-height: 25px;
}

.control-items-wrapper .control-title {
    font-size: 15px;
    color: #adadad;
    font-weight: 600;
    letter-spacing: 1px;
}

.control-items-wrapper .control-title hr {
    margin: 0;
    padding: 0;
    border: 1px solid #5d5d5d;
}

.control-items-wrapper .control-type {
    font-size: 12px;
    color: #888;
    text-align: right;
    letter-spacing: 3px;
}

.control-items-wrapper .control-item {
    font-size: 15px;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.control-items-wrapper .control-item .control-name {
    display: inline-block;
    padding-right: 10px;
}

.control-items-wrapper .control-item .control-btn {
    font-size: 25px;
    float: right;
}

.control-items-wrapper .control-item .control-keys {
    margin-right: 10px;
    display: inline-block;
    padding: 5px 9px;
    font-size: 12px;
    background-color: rgba(1, 1, 1, 0.7);
    border-radius: 5px;
}