body, html{
    height: 100%;
    overflow: hidden;
    font-family: "Open Sans";
}
canvas {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#root{
    display: block;
    width: 100%;
    height: 100%;
}
.main-footer{
    background-color: #064a62;
    width: 100%;
    height: 0px;
    color: #DDD;
}

.wrapper {
    display: block;
    width: 100%;
    height: 100%;
}

.main-content{
    background-color: #ced1d2;
    width: 100%;
    height: 100%;
    position: relative;
}

.main-content .canvas-wrapper{
    height: 100%;
    width: 100%;
    background-color: #ced1d2;
}

.main-content .loader{
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 18px;
    letter-spacing: 2;
    font-weight: bold;
    color: #666;
    z-index: 2;
    opacity: 1;
}

.main-content .fullscreen{
    height: 100% !important;
}

.custom-popover {
    font-size: 21px;
    line-height: 0.4;
    position: absolute;
    background-color: #EEE;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #CCC;
    border-radius: 11px;
    z-index: 2;
    pointer-events: none;
    padding: 17px 15px 10px 15px;
}

.view-buttons-panel {
    position: absolute;
    margin: auto;
    bottom: 20px;
    z-index: 5;
    left: 30%;
    font-size: 15px;
}

.view-buttons-panel .btn-primary.active {
    background-color: #023360;
    border-color: #023360;
}