.custom-popover {
    font-size: 16px;
    line-height: 1.4;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(214, 214, 214);
    border-radius: 3px;
    z-index: 20;
    pointer-events: none;
    padding: 17px 15px 10px 15px;
    max-width: 40%;
    word-wrap: break-word;
}