.custom-popover {
    font-size: 16px;
    line-height: 0.8;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(214, 214, 214);
    border-radius: 3px;
    z-index: 20;
    pointer-events: none;
    padding: 17px 15px 10px 15px;
}